<div class="menu-container">
    <img src="../../assets/images/LT-Logo.png">
    <div class="menu-title">Lea Tekbas - Bewerbungsmappe</div>
    <div class="menu-buttons">
        <!-- <button class="menu-button">Übersicht</button>
        <button class="menu-button">2D - Projekte</button>
        <button class="menu-button">3D - Projekte</button> -->
        <p-button class="menu-button" label="Übersicht" icon="lt-icon lt-overview"></p-button>
        <p-button class="menu-button" label="2D - Projekte" icon="pi lt-icon lt-2d"></p-button>
        <p-button class="menu-button" label="3D - Projekte" icon="lt-icon lt-3d"></p-button>
    </div>
</div>
